<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>nth with debug info.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>nth-gtest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>nth.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D6E3F501940C2B3008D5BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DA4983519730B320056BB77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DA4983C19730C1D0056BB77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DF8899D195F9ECD00B7208A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
